html{
  background-color:#DFECFF;
  font-family: microsoft jhengHei;
}
a{
  text-decoration: none;
  color: #2d527c;
}
.container{
  max-width: 1060px;
  max-height: 1990px;
  margin-left: auto;
  margin-right: auto;
}
.logo{
  float: left;
  margin-top: -88px;
}
.sign{
  color: #2d527c;
  float: right;
  margin-top: 25px ;
  margin-bottom: 25px;
  font-size: 14px;
  padding: 4px 10px;
}
.back:hover{
  color: #109add;
}
.misson:hover{
  color: #109add;
}
.join:hover{
  color: #109add;
}
.sign_in:hover{
  color: #109add;
}
.back{
  float: left;
  margin-left: 10px;
}
.misson{
  float: left;
  margin-left: 10px;
  padding-right: 10px;
  border-right: 1.5px solid #2d527c;
}
.join{
  float: left;
  margin-left: 10px;
}
.sign_in{
  float: left;
  margin-left: 10px;
}
nav li:hover{
  color: #2d527c;
  background-color: #cee8fa;
}
a:hover{
  color:#109add;
}
nav li{
  color: #ffffff;
  background-color: #109add;
  font-size: 20px;
  list-style: none;
  float: left;
  padding-top: 10.8px;
  padding-bottom: 10.8px;
  padding-left: 31.5px;
  padding-right: 31.5px;
}
nav{
  float: left;
  margin-left: -41px;
  margin-right: 10px;
  margin-top: 31px;
}
.head{
  float: left;
}

.clear{
  clear: both;
}


.main{
    margin-top: 30px;
    width: 1060px;
}
.uma{

  float: left;

}

h1{
  text-align: center;
  font-size: 200%;
}
.word{
  width: 680px;
  height: 560px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  float: right;
  margin-left: 10px;
  padding-top: 10px;
  background-color: #ecf4ff ;
}

b{
  font-size: 200%;
}

footer{
  width:auto;
  padding-top: 16px;
  padding-bottom: 6px;
  max-height: 100px;
  background-color: #2d527c;
  margin-top: 35px;
}
.line{
  margin:0px auto;
  background-color: #cee8fa;
  width: 250px;
  height: 1px;
  margin-top: 5px;
}
.copyright{
  font-size: 10px;
  color: #cee8fa;
  text-align: center;
}
.copyright img{
  margin-left: 10px;
  margin-right: 10px;
}
